# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Documentation
site/

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# Type checkers
.mypy_cache/

# Linters
.ruff_cache/

# Environments
.env
.venv/
venv/

# Editors
.idea/
.vscode/
*~

# OS
.DS_Store
Thumbs.db

# uv
.python-version
